extends layout
block content
  p.text-right.alert.alert-secondary(role="alert")="Hello " + data.user.first_name  
  main.container.mt-3
    .row
      .col-md-4.mb-3
        #list-tab.list-group(role="tablist")
          a#list-view-list.list-group-item.list-group-item-action.active(data-toggle="list" href="#list-view" role="tab" aria-controls="view") View Requests
          a#list-signup-list.list-group-item.list-group-item-action(data-toggle="list" href="#list-signup" role="tab" aria-controls="signup") Add New Admin or Engineer
          a#list-changeprofile-list.list-group-item.list-group-item-action(data-toggle="list" href="#list-changeprofile" role="tab" aria-controls="changeprofile") Update Profile
          a#list-lgout-list.list-group-item.list-group-item-action(href="/user/logout") Log Out
      .col-md-8.container.p-5.border
        #nav-tabContent.tab-content
          #list-view.tab-pane.fade.show.active(role="tabpanel" aria-labelledby="list-view-list")
            h1 List Of All The Request
            hr
            each request in data.requests  
              if(request.status == 'completed' && request.engineer && request.contractor)
                h5="Requested By: " + request.user.first_name + " " + request.user.last_name
                h5="Mobile: " + request.user.mobile
                h5="Lat: " + request.address.lat
                h5="Lng: " + request.address.lng
                h5="Engineer: " + request.engineer.first_name + " " + request.engineer.last_name                
                h5="Contractor: " + request.contractor.first_name + " " + request.contractor.last_name
                h5="Status: " + request.status
              else
                p.alert.alert-danger(role="alert") You can allot Engineer or Contractor only once!              
                h5="Requested By: " + request.user.first_name + " " + request.user.last_name
                h5="Mobile: " + request.user.mobile
                h5="Lat: " + request.address.lat
                h5="Lng: " + request.address.lng
                form(action="/request/update" method="post")
                  input(type="hidden" name="request_id" value=request._id)
                  input(type="hidden" name="request_user_id" value=request.user._id)
                  input(type="hidden" name="request_add_lat" value=request.address.lat)
                  input(type="hidden" name="request_add_lng" value=request.address.lng)
                  if(request.engineer)
                    h5="Engineer: " + request.engineer.first_name + " " + request.engineer.last_name
                    input(type="hidden" value=request.engineer._id)
                  else
                    h5 Engineer:
                    select(name="engineer" class="form-control")
                      option(value="" selected) None
                      each engineer in data.engineers
                        option(value=engineer._id)= engineer.first_name + " " + engineer.last_name
                  if(request.contractor)
                    h5="Contractor: " + request.contractor.first_name + " " + request.contractor.last_name
                    input(type="hidden" value=request.contractor._id)
                  else
                    h5 Contractor:
                    select(name="contractor" class="form-control")
                      option(selected value="") None
                      each contractor in data.contractors
                        option(value=contractor._id)= contractor.first_name + " " + contractor.last_name
                  h5="Status: " + request.status
                  select(name="status" class="form-control")
                    each status in ['submitted', 'engineerAlloted', 'contractorAlloted', 'processing', 'completed']
                      if(request.status == status)
                        option(selected value=status)= status
                      else
                        option(value=status)= status
                  button(type="submit" class="btn btn-primary mt-2") Update Request
              form(action="/request/delete" method="post")
                input(type="hidden", name="request_id", value=request._id)
                button(type="submit" class="btn btn-danger mt-2") Delete Request
              hr
          #list-signup.tab-pane.fade.show(role="tabpanel" aria-labelledby="list-signup-list")
            h1 Add New Admin or Engineer
            hr
            form(action="/user/signup" method="POST")
              .form-group
                label(for="fname") First Name
                input#fname.form-control(type="text" name="fname" placeholder="First Name")
              .form-group
                label(for="lname") Last Name
                input#lname.form-control(type="text" name="lname" placeholder="Last Name")
              .form-group
                label(for="password") Password
                input#password.form-control(type="password" name="password" placeholder="Password")
              .form-group
                label(for="email") Email
                input#email.form-control(type="email" name="email" placeholder="abc@example.com")
              .form-group
                label(for="mobile") Mobile
                input#mobile.form-control(type="text" name="mobile" placeholder="Mobile")
              .form-group
                label(for="userType") SignUp As
                select#UserType.form-control(name="userType")
                  option(value="engineer") Engineer
                  option(value="admin") Admin
              button.btn.btn-primary(type="submit") Signup
          #list-changeprofile.tab-pane.fade.show(role="tabpanel" aria-labelledby="list-changeprofile-list")
            h1 Update Profile
            hr
            p.alert.alert-danger(role="alert") If you change your email be sure to login with your updated email next time!
            form(action="/user/update" method="POST")
              .form-group
                label(for="fname") First Name
                input#fname.form-control(type="text" name="fname" placeholder="First Name" value=data.user.first_name)
              .form-group
                label(for="lname") Last Name
                input#lname.form-control(type="text" name="lname" placeholder="Last Name" value=data.user.last_name)
              .form-group
                label(for="password") Password
                input#password.form-control(type="password" name="password" placeholder="Password" value=data.user.password)
              .form-group
                label(for="email") Email
                input#email.form-control(type="email" name="email" placeholder="abc@example.com" value=data.user.email)
              .form-group
                label(for="mobile") Mobile
                input#mobile.form-control(type="text" name="mobile" placeholder="Mobile" value=data.user.mobile)
              button.btn.btn-primary(type="submit") Update Profile