extends layout
block content
  main.container.mt-3
    h1=data.first_name  
    div.row
      div.col-md-4
        div#list-tab.list-group(role="tablist")
          a#list-tender-list.list-group-item.list-group-item-action.active(data-toggle="list" href="#list-tender" role="tab" aria-controls="tender") Approved Tenders
          a#list-quotation-list.list-group-item.list-group-item-action(data-toggle="list" href="#list-quotation" role="tab" aria-controls="quotation") Send Quotation
          a#list-changeprofile-list.list-group-item.list-group-item-action(data-toggle="list" href="#list-changeprofile" role="tab" aria-controls="changeprofile") Update Profile
          a#list-lgout-list.list-group-item.list-group-item-action(href="/user/logout") Log Out
      div.col-md-8
        div#nav-tabContent.tab-content
          div#list-tender.tab-pane.fade.show.active(role="tabpanel" aria-labelledby="list-tender-list")
            h1 Approved Tenders
            hr
            .container
              each request in data.requests  
                h5="Request Id: " + request._id
                h5="Requested By: " + request.user.first_name + " " + request.user.last_name
                h5="Mobile: " + request.user.mobile
                h5="Lat: " + request.address.lat
                h5="Lng: " + request.address.lng
                hr
          div#list-quotation.tab-pane.fade.show(role="tabpanel" aria-labelledby="list-quotation-list")
           h5.alert.alert-success.text-dark(role="alert") Please Mention Request Id in Your Quotation
            h1 All Requests
            hr
            div.container
              each tender in data.tender  
                h5="Request Id: " + tender._id
                h5="Requested By: " + tender.user.first_name + " " + tender.user.last_name
                h5="Mobile: " + tender.user.mobile
                h5="Lat: " + tender.address.lat
                h5="Lng: " + tender.address.lng
                a(href="mailto:admin@rrrs.com" class="btn btn-primary") Send Quotation
                hr
          div#list-changeprofile.tab-pane.fade.show(role="tabpanel" aria-labelledby="list-changeprofile-list")
            h1 Update Profile
            hr
            form(action="/user/update" method="POST")
              div.form-group
                label(for="fname") First Name
                input#fname.form-control(type="text" name="fname" placeholder="First Name" value=data.user.first_name)
              div.form-group
                label(for="lname") Last Name
                input#lname.form-control(type="text" name="lname" placeholder="Last Name" value=data.user.last_name)
              div.form-group
                label(for="password") Password
                input#password.form-control(type="password" name="password" placeholder="Password" value=data.user.password)
              div.form-group
                label(for="email") Email
                input#email.form-control(type="email" name="email" placeholder="abc@example.com" value=data.user.email)
              div.form-group
                label(for="mobile") Mobile
                input#mobile.form-control(type="text" name="mobile" placeholder="Mobile" value=data.user.mobile)
              button.btn.btn-primary(type="submit") Update Profile