extends layout
block content
  main.container.mt-3
    h1=data.first_name  
    div.row
      div.col-md-4
        div#list-tab.list-group(role="tablist")
          a#list-notification-list.list-group-item.list-group-item-action(data-toggle="list" href="#list-notification" role="tab" aria-controls="notification") View Notification
          a#list-changeprofile-list.list-group-item.list-group-item-action(data-toggle="list" href="#list-changeprofile" role="tab" aria-controls="changeprofile") Update Profile
          a#list-lgout-list.list-group-item.list-group-item-action(href="/user/logout") Log Out
      div.col-md-8
        div#nav-tabContent.tab-content
          div#list-notification.tab-pane.fade.show(role="tabpanel" aria-labelledby="list-notification-list")
            h1 View Notification
            hr
            .container
          div#list-changeprofile.tab-pane.fade.show(role="tabpanel" aria-labelledby="list-changeprofile-list")
            h1 Update Profile
            hr
            form(action="/user/update" method="POST")
              div.form-group
                label(for="fname") First Name
                input#fname.form-control(type="text" name="fname" placeholder="First Name" value=data.first_name)
              div.form-group
                label(for="lname") Last Name
                input#lname.form-control(type="text" name="lname" placeholder="Last Name" value=data.last_name)
              div.form-group
                label(for="password") Password
                input#password.form-control(type="password" name="password" placeholder="Password" value=data.password)
              div.form-group
                label(for="email") Email
                input#email.form-control(type="email" name="email" placeholder="abc@example.com" value=data.email)
              div.form-group
                label(for="mobile") Mobile
                input#mobile.form-control(type="text" name="mobile" placeholder="Mobile" value=data.mobile)
              button.btn.btn-primary(type="submit") Update Profile